a {
  color: rgb(244, 197, 111);
}

body {
  background-color: #264653;
}

h1 {
  text-align: center;
  color: aliceblue;
  background-color: #0f3040;
  padding: 20px;
  font-family: "Bad Script", cursive;
  font-size: 50px;
}

h2 {
  text-align: center;
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 20px;
}

p {
  font-family: "Bad Script", cursive;
  font-family: "Pridi", serif;
  font-size: 18px;
  padding: 20px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.bio {
  background-color: #0b5266;
  color: aliceblue;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
}

.link {
  color: rgb(244, 197, 111);
}
.link:hover {
  color: aquamarine;
}
.profile_pic {
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.tech_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.tech_icon {
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
